/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**************************************************************************************************
  My Universal Styles Begin Here
***************************************************************************************************/
* html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-family: 'Roboto', 'Rubik', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  background-color: black;
  color: #1F1D1B;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 12pt;
  text-align: left;
}
/**************************************************************************************************
  a Limk Styles
***************************************************************************************************/
a {
  color: #ff9900;
}
/**************************************************************************************************
  Heading Styles
***************************************************************************************************/
h1 {
  font-size: 30px;
  margin: 0 auto;
  padding: 0;
}
h2 {
  font-size: 30rem;
  margin-left: 5px;
}
.h2sidebar {
  margin-top: -25px;
}
h3 {
  background: #252424;
  color: whitesmoke;
  font-size: 1em;
  font-weight: normal;
  margin: 30px 0 15px 0;
  padding: 10px;
  letter-spacing: 2pt;
  border-bottom: 2px solid #ddd;
}
h3.firsth3 {
  margin-top:10px;
}
h4 {
  font-size: 16px;
  background: none;
  margin: 5px 0 -5px 0;
  padding: 5px;
  padding-left: 0;
  letter-spacing: .5pt;
  border-bottom: 2px solid #ddd;
}
h5 {
  background: #252424;
  color: #F4F0EB;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: -10px;
  margin-bottom: -5px;
  padding: 10px;
}
h6 {
  font-size: 17px;
  color: #242b23;
  font-weight: normal;
  font-style: italic;
}
.h5widget1 {
  background: #252424;
  color: #F4F0EB;
  margin-top: 10px;
}
/**************************************************************************************************
  Paragraph, Blockquote Styles
***************************************************************************************************/
p {
  margin-left: 0;
  margin-bottom: .5em;
  line-height: 1.25em;
}
.ph2sidebarimage {
  margin-top: -45px;
}
blockquote {
  font-family: 'Beth Ellen';
  background: #F4F0EB;
  color: grey;
  font-size: 20px;
  font-style: italic;
  margin-left: 6px;
  padding: 20px;
  border-left: 5px solid hsl(116, 41%, 57%);
}
.welcome p {
  width: 90%;
}
/**************************************************************************************************
  Image Styles
***************************************************************************************************/
.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.imgright {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  width: 375px;
}
header div.logo nav img {
  width: 30%;
  margin: 0;
  padding: 0;
}
.project1 img {
  width: 100%;
  margin-right: 15px;
}
#projects div.container div.project234 img {
  max-width: 40%;
  min-width: 110px;
  margin: 0 1%;
  padding-bottom: 2%;
  flex-wrap: wrap;
}
#projects div.container div.project567 img {
  max-width: 35%;
  min-width: 110px;
  margin: 0 1%;
  padding-bottom: 2%;
  flex-wrap: wrap;
}
/**************************************************************************************************
  Header Styles
***************************************************************************************************/
header {
  background-color: black;
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
/****************** Logo Div Styles *************/
header div.logo {
  width: 100%;
  margin: 0;
  padding-bottom: 10px;
  border: none;
  overflow: hidden;
}
/****************** Logo Nav Styles *************/
header div.logo nav {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 15px;
}
header div.logo nav a {
  font-size: 16px;
  color: #ddd;
  text-align: center;
  width: 6rem;
  height: 23px;
  margin: 0px;
  padding: 1rem;
  border: 1px solid black;
  text-decoration: none;
  text-align: center;
}
header div.logo nav a:hover, header div.logo nav a:active {
  color: #ff9900;
}
/****************** Create Arrows *************/
.arrow {
border: solid #ddd;
border-width: 0 3px 3px 0;
display: inline-block;
padding: 3px;
margin: 5px;
}
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}
.left {
transform: rotate(135deg);
-webkit-transform: rotate(135deg);
}
.up {
transform: rotate(-135deg);
-webkit-transform: rotate(-135deg);
}
.down {
transform: rotate(45deg);
-webkit-transform: rotate(45deg);
margin-right:0;
}
/**************************************************************************************************
  Content Styles
***************************************************************************************************/
#content, .container {
  width: 85%;
  margin: auto;
  padding: 0px;
  background-color: whitesmoke;
}
#maincontent {
  margin-right: 35px;
  padding: 0 10px;
  width: 100%;
  margin-top: 20px;
  border: none;
}
.welcome {
  width:100%;
  margin: auto;
}
h1.welcome {
  font-size: 30px;
  margin-top: 35px;
}
/****************** Project Styles *************/
#projects {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  border-top: 2px solid gray;
}
#projects div.container div.project1 {
  margin-top:2%;
}
#projects div.container button {
  width: 12%;
  background: #252424;
  color: whitesmoke;
  border: none;
  border-radius: 5%;
  margin: .5% 2.5%;
  padding: 1%;
  letter-spacing: .25rem;
}
#projects div.container button:hover {
  background: #ededed;
  color: black;
}
#projects div.container div.project234 {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
/****************** Article Styles *************/
.article img {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.article {
  margin-top: -30px;
}
/**************************************************************************************************
  Slideshow Styles Styles
***************************************************************************************************/
.mySlides {display: none}
img {vertical-align: middle;}

/****************** Slideshow Container *************/
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0;
  margin-top: -5px;
}
/****************** Next and Previous Buttons *************/
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/****************** Next Button *************/
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  color: hsl(116, 41%, 57%);
}
/****************** Captions *************/
.text {
  color: #f2f2f2;
  background: black;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 80%;
  text-align: center;
}
.text a {
  color: whitesmoke;
}
/****************** Slide Numbers *************/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/****************** Dots, Bullets, and Indicators *************/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #717171;
}
/****************** Fade Animation *************/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/**************************************************************************************************
  Sidebar Styles
***************************************************************************************************/
#sidebar {
  float: right;
  background: #F4F0EB;
  width: 300px;
  margin: 20px 0px 100px 0px;
  padding: 0 10px 0 10px;
  border:none;
}
.widget {
  background: none;
  border: none;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  padding: 0;
}
.fb-page {
  border: none;
  background: none;
}
.divsidebarlastwidget {
  height: 0px;
}
/**************************************************************************************************
  Footer Styles
***************************************************************************************************/
#footer {
  background: black;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #a0a0a0;
}
#footer .container {
  background: black;
}
#footer .container div {
  background: black;
  text-align:center;
}
#footer .container button {
width: 8em;
background: #252424;
color: whitesmoke;
border: none;
border-radius: 5%;
margin: 2% auto;
margin-top: 10px;
margin-bottom: 1.25em;
padding: 1% 0;
letter-spacing: .2rem;
}
#footer .container button:hover {
background: #ededed;
color: black;
}
#footer .container .copyright {
  background: black;
  text-align: center;
  color: grey;
  font-size: 12px;
  padding-top: 2em;
  padding-bottom: 10px;
  letter-spacing: .25em;
}
#footer .container .copyright a {
color: whitesmoke;
text-decoration: none;
}
/**************************************************************************************************
  Social Menu (in footer) Styles
***************************************************************************************************/
.icon-bar {
  background: black;
  width: 30%;
  margin: 0 auto;
}
.icon-bar a {
  text-align: center;
  padding: 2%;
  transition: all 0.3s ease;
  color: whitesmoke;
  font-size: 20px;
}
.icon-bar a:hover {
  background-color: #fff;
  border-radius: 100%;
}
/**************************************************************************************************
  Responsive Styles
***************************************************************************************************/
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
@media (max-width: 800px) {
  header {
    width: 80%;
  }
}
@media (max-width: 500px) {
  header {
    width: 30%;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  h1.welcome {
    font-size: 1rem;
    padding: 0;
    margin-left:-.1rem;
    font-weight: bold;
  }
  h2 {
    font-size: .5rem;
  }
}
/* When the screen is less than 600px wide, stack the links vertically instead of horizontally */
@media screen and (max-width: 400px) {

}