/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/**************************************************************************************************
  My Universal Styles Begin Here
***************************************************************************************************/
* html {
  box-sizing: border-box;
}
body {
  font-family: Verdana, sans-serif;
  background-color: whitesmoke;
  color: #1F1D1B;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 12pt;
  text-align: left;
}
/********************************************************************************
a Link Styles
********************************************************************************/
a {
  color: #ff9900;
}
a.active {
  color: #ff9900;
}
header div.logo nav a:hover, header div.logo nav a:active {
  color: #ff9900;
}
/********************************************************************************
Heading Styles
********************************************************************************/
h1 {
  font-size: 30px;
  margin-left: 5px;
  margin-top: 0px;
}
h2 {
  font-size: 30px;
  margin-left: 5px;
}
.h2sidebar {
  margin-top: -25px;
}
h3 {
  background: #252424;
  color: whitesmoke;
  font-size: 1em;
  font-weight: normal;
  margin: 30px 0 15px 0;
  padding: 10px;
  letter-spacing: 2pt;
  border-bottom: 2px solid #ddd;
}
h3.firsth3 {
  margin-top:10px;
}
h4 {
  font-size: 16px;
  background: none;
  margin: 5px 0 -5px 0;
  padding: 5px;
  padding-left: 0;
  letter-spacing: .5pt;
  border-bottom: 2px solid #ddd;
}
h5 {
  background: #252424;
  color: #F4F0EB;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-top: -10px;
  margin-bottom: -5px;
  padding: 10px;
}
h6 {
  font-size: 17px;
  color: #242b23;
  font-weight: normal;
  font-style: italic;
}
.h5widget1 {
  background: #252424;
  color: #F4F0EB;
  margin-top: 10px;
}
/********************************************************************************
Paragraph Styles
********************************************************************************/
p {
  margin-left: 0;
  margin-bottom: .5em;
  line-height: 1.25em;
}
.ph2sidebarimage {
  margin-top: -45px;
}
blockquote {
  font-family: 'Beth Ellen';
  background: #F4F0EB;
  color: grey;
  font-size: 20px;
  font-style: italic;
  margin-left: 6px;
  padding: 20px;
  border-left: 5px solid hsl(116, 41%, 57%);
}
/********************************************************************************
Image Styles
********************************************************************************/
.imgcenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
.imgright {
  float: right;
  margin-top: 10px;
  margin-right: 20px;
  width: 375px;
}
/********************************************************************************
Header Styles
********************************************************************************/
header {
  height: 15vh;
  overflow: hidden;
  border-bottom: 2px solid #a0a0a0;
}
header div.logo {
  background-color: black;
  padding: 10px 0;
  height: 150px;
  border: none;
  border-bottom: 2px solid #a0a0a0;
  overflow: hidden;
}
header div.logo img {
  width: 235px;
  margin: 0;
  padding: 0;
  padding-top:10px;
}
/********************************************************************************
Nav Styles
********************************************************************************/
header div.logo nav {
  margin-top: 25px;
  padding: 0;
}
/* Style the links inside the navigation bar */
header div.logonav nav a {
font-size: 13.5px;
text-align: center;
padding: 40px 42px;
text-decoration: none;
color: #ddd;
}
header div.logo nav a:hover {
  color: #ff9900;
}
/********************************************************************************
Arrow Styles
********************************************************************************/
.arrow {
  border: solid #ddd;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 5px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-right:0;
}
/********************************************************************************
Container Styles
********************************************************************************/
.container #headerimg {
  margin: 20px 0;
}
.container #headerimg img {
  margin: 0;
  padding: 0;
}
.container {
  width: 800px;
  margin: 0 auto;
} 
#content {
  width: 85%;
  margin: auto;
  padding: 0px;
  display: flex;
}
#maincontent {
  margin-right: 35px;
  padding: 0 10px;
  width: 100%;
  margin-top: 20px;
  border: none;
}
/********************************************************************************
Content Type: Top Content Styles
********************************************************************************/
.top-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}
.top-content .text-container {
  width: 48%;
  padding: 0 1%;
  padding-bottom: 20px;  
}
/********************************************************************************
Content Type: Middle Content Styles
********************************************************************************/
.middle-content {
  margin-bottom: 20px;
  border-bottom: 1px dashed black;
}
.middle-content h2 {
  padding: 0 2%;
  margin-bottom: 0;
}
.middle-content .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.middle-content .boxes .box, .middle-content .boxes .box1, .middle-content .boxes .box2, .middle-content .boxes .box3,
.middle-content .boxes .box4, .middle-content .boxes .box5, .middle-content .boxes .box6, .middle-content .boxes .box7,
.middle-content .boxes .box8, .middle-content .boxes .box9, .middle-content .boxes .box10 {
  width: 12.5%;
  height: 100px;
  background: black;
  margin: 20px 2.5%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.middle-content .boxes .box1 {
  background: teal;
}
.middle-content .boxes .box2 {
  background: gold;
}
.middle-content .boxes .box3 {
  background: cadetblue;
}
.middle-content .boxes .box4 {
  background: coral;
}
.middle-content .boxes .box5 {
  background: crimson;
}
.middle-content .boxes .box6 {
  background: forestgreen;
}
.middle-content .boxes .box7 {
  background: darkorchid;
}
.middle-content .boxes .box8 {
  background: hotpink;
}
.middle-content .boxes .box9 {
  background: indigo;
}
.middle-content .boxes .box10 {
  background: dodgerblue;
}
/********************************************************************************
Content Type: Bottom Content Styles
********************************************************************************/
.bottom-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}
.bottom-content .text-container {
  padding-right: 4%;
}
.bottom-content .text-container:last-child {
  padding-right: 0;
}
/********************************************************************************
Content Type: Article Styles
********************************************************************************/
.article img {
  float: left;
  margin-top: 5px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.article {
  margin-top: -30px;
}
/********************************************************************************
Content Type: Project Styles
********************************************************************************/
.project1 img {
  width: 100%;
}
.projectdetail img {
  width:100%;
}
.projectdetail button {
  background: #252424;
  color: whitesmoke;
  border: none;
  border-radius: 5%;
  margin-top: .5%;
  margin-bottom: 25%;
  padding: 2% 4%;
  letter-spacing: .25rem;
}
.projectdetail button:hover {
  background: #ededed;
  color: black;
  border: 1px solid black;
}
p.logo img {
  width: 40%;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
/********************************************************************************
Slideshow Styles
********************************************************************************/
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0;
  margin-top: -5px;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: hsl(116, 41%, 57%);
}
/* Caption text */
.text {
  color: #f2f2f2;
  background: black;
  font-size: 17px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text a {
  color: whitesmoke;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
/********************************************************************************
Sidebar Styles
********************************************************************************/
#sidebar {
  float: right;
  background: #F4F0EB;
  width: 300px;
  margin: 20px 0px 100px 0px;
  padding: 0 10px 0 10px;
  border:none;
}
.widget {
  background: none;
  border: none;
  margin-bottom: 25px;
  border-bottom: 1px solid #ddd;
  padding: 0;
}
.widget9 img {
  width: 280px;
}
.fb-page {
  border: none;
  background: none;
}
.divsidebarlastwidget {
  height: 0px;
}
/********************************************************************************
Footer Styles
********************************************************************************/
#footer {
  background: black;
  width: 100%;
  position: fixed;
  text-align: center;
  left: 0;
  bottom: 0;
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#footer .container div {
text-align:center;
}
#footer .container button {
width: 10em;
background: #252424;
color: whitesmoke;
border: none;
border-radius: 5%;
margin: 2% 2.5%;
margin-top: -10px;
margin-bottom: 1em;
padding: 1%;
letter-spacing: .25rem;
}
#footer .container button:hover {
background: #ededed;
color: black;
}
#footer .container .copyright {
text-align: center;
color: grey;
font-size: 12px;
padding-top: 2em;
padding-bottom: 0;
letter-spacing: .25em;
}
#footer .container .copyright a {
color: whitesmoke;
text-decoration: none;
}
/********************************************************************************
Social Menu Styles
********************************************************************************/
.icon-bar {
width: 30em;
margin: 0 auto;
}
.icon-bar a {
text-align: center;
padding: 2%;
transition: all 0.3s ease;
color: whitesmoke;
font-size: 20px;
}
.icon-bar a:hover {
background-color: #fff;
border-radius: 100%;
}
/********************************************************************************
Media Queries
********************************************************************************/
@media only screen and (max-width: 800px) {
  .prev, .next,.text {font-size: 11px;}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 500px) {
  .prev, .next,.text {font-size: 11px;}
}